# Backend API URL
NEXT_PUBLIC_API_URL=http://localhost:3001

# Token Configuration
NEXT_PUBLIC_B40B_TOKEN_ADDRESS=0x76edfdf2c9ead7b542e4d2ea618bf5dc5ad6a958

NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=fe43b759ba0320df1d33cc7102343123
NEXT_PUBLIC_CHAIN_ID=8453
```

